[Desktop Entry]
Name=Visual Apt Manager
Comment=Visual APT manager
Exec=/bin/bash -c "pkexec env XAUTHORITY=$XAUTHORITY env DISPLAY=$DISPLAY env VAPT_CONFIG_PATH=$HOME/.config/vapt.yml vapt.py"
Icon=gartoon-system-upgrade
Terminal=false
Type=Application
Categories=Utilities;System Tools
Keywords=vapt;visual;apt;package;manager;
StartupNotify=false
StartupWMClass=Vapt.py
