[Desktop Entry]
Name=Visual Apt Manager
Comment=Visual APT manager
Exec=/bin/bash -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY VAPT_CONFIG_PATH=%h/.config/vapt.yml vapt.py"
Icon=software-update-available
Terminal=false
Type=Application
Categories=Utilities;System Tools
Keywords=vapt;visual;apt;package;manager;
StartupNotify=true
